// sass/_variables.scss
$font-title: "MarioKartF2", sans-serif;
$font-subtitle: "Orbitron", sans-serif;
$font-body: "Poppins", sans-serif;

// couleurs générales
$bg-color: #0c0616;
$text-color: #fff;