// sass/_variables.scss

$font-title: "MarioKartF2", sans-serif;
$font-subtitle: "Orbitron", sans-serif;
$font-body: "Poppins", sans-serif;

// nouvelles polices Formula1
$font-f1: "Formula1", "Orbitron", sans-serif;
$font-f1wide: "Formula1 Wide", "Orbitron", sans-serif;
$font-weight-f1bold: 700; // poids "Formula1" en gras

// couleurs générales
$bg-color: #0c0616;
$text-color: #fff;
